@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

:root {
    --w-max: 1120px;

    --clr-l-blue: #7bc2e2;
    --clr-l-blue-o: 123, 194, 226;
    --clr-ll-blue-table: #b0def0;
    --clr-ll-blue: #9ad3ea;
    --clr-ll-blue-o: 154, 211, 234;
    --clr-yellow: #ffff4a;

    --link-clr-1: #631bcf;
    --link-clr-2: #a471f1;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-yellow);
    border: 0;
    border-radius: 50px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.925rem;
    font-weight: 400;
    overflow: overlay;
}

body #root {
    display: flex;
    flex-direction: column;
}

a,
a:visited,
a:active {
    color: var(--link-clr-1);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--link-clr-2);
    text-decoration: underline;
    outline: none;
}

.anchor-Zone {
    scroll-margin-top: 65px;
}

section {
    margin-top: 1rem;
}

section > div {
    padding: 0.2em 0.7em;
}

.content {
    width: 100%;
    min-height: 85vh;
    max-width: var(--w-max);
    margin: 5rem auto;
    padding: 1em 1.5em;
    background-color: rgba(var(--clr-ll-blue-o), 0.9);
    border-radius: 1.2em;
}

.sprite {
    width: 32px;
    height: 32px;
}
